<div class="container">
  <!-- <img src="../../../assets/icons/menu_black_24dp.svg" alt="Opciones de categoria"> -->
  <div class="dropdown show">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categorías
    </button>
    <ul class="dropdown-menu">
      <li class="dropdown-item">Action</li>
      <li class="dropdown-item">Another</li>
      <li class="dropdown-item">Something</li>
      <li class="dropdown-item">Separated</li>
    </ul>
  </div>
</div>
