<div class="content">
  <div class="row">
    <div class="col-12 btnClose">
      <img src="../../../assets/icons/close_black_24dp.svg" alt="Cerrar" (click)="closeCard()">
    </div>
    <div class="col-12 col-md-8 align-self-center">
      <img [src]="selectedImage.largeImageURL" alt="Imagen Seleccionada" width="99%">
    </div>
    <div class="col-12 col-md-4 info-img">
      <h2>Tags:</h2>
      <p>{{ selectedImage.tags }}</p>
      <div class="icons">
        <div class="icons_views">
          <img src="../../../assets/icons/visibility.svg" alt="Vistas">
          <p>{{ selectedImage.views }}</p>
        </div>
        <div class="icons_likes">
          <img src="../../../assets/icons/thumb_up.svg" alt="Me gustas">
          <p>{{ selectedImage.likes }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
